@using webgrabfood.Models;
@{
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}
@model CuaHang

<style>
    html,
    body {
        position: relative;
        height: 300px;
    }

    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
    }

    .swiper-container {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .swiper-slide {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .Hinhdong {
        width: 30%;
        height: 300px;
        float: left;
    }

    .cuahangtilter {
        width: 70%;
        float: right;
        height: 300px;
    }

    .menu {
        width: 300px;
        margin: auto;
    }

    .codinhmenu {
        position: fixed;
        top: 0;
        width: 300px;
        margin: auto;
    }

    .containerimg {
        position: relative;
        width: 100px;
        height: 100px;
        float: left;
        margin-left: 5px;
    }

    .imaged {
        display: block;
        width: 100px;
        height: 100px;
    }

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1;
        float: right;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 5px;
        padding: 2px;
        text-align: center;
    }

    .containerimg:hover .overlay {
        opacity: 1;
    }

    .menu-restaurant-category {
        border: 1px solid #ebebeb;
        padding: 15px 5px 15px 15px;
        width: 235px;
        margin-right: 10px;
        background: #fff;
        border-radius: 4px
    }

        .menu-restaurant-category .scrollbar-container {
            max-height: calc(100vh - 100px);
            position: relative;
        }

        .menu-restaurant-category .list-category {
            position: relative
        }

            .menu-restaurant-category .list-category .item {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 5px 0;
                padding: 2px 0
            }

            .menu-restaurant-category .list-category .item-link {
                font-size: 13px;
                display: inline-block;
                color: #6d6f71;
                text-transform: uppercase;
                padding: 3px 7px 1px;
                border-radius: 4px;
                cursor: pointer
            }

                .menu-restaurant-category .list-category .item-link:hover {
                    text-decoration: none
                }

                .menu-restaurant-category .list-category .item-link.active {
                    background-color: #959595;
                    color: #fff
                }

    .modal-backdrop {
        z-index: -1;
    }
</style>
@if (Request.HttpMethod == "POST")
{
    if (ViewBag.tb == 1)
    {
        <script>
            confirm("Đặt hàng thành công");
        </script>
    }
    else
        if (ViewBag.tb == 0)
    {
        <script >
            confirm("Đặt hàng không thành công");
        </script>
    }
    else
        if (ViewBag.tb == 2)
    {
        <script>
            confirm("Chúng tôi không thể giao hàng đến địa chỉ không cùng tỉnh với quán");
        </script>
    }
}
<div class="row" style="background-color: white ;min-height:440px">
    <div class="col-md-4" style="padding:20px">
        <div class="swiper-slide"><img src="@Model.ImageURL" style="width:400px ;height:400px" /></div>
    </div>
    <div class="col-md-8" style="padding:20px; font-size:18px">
        <h2>@Model.NameShop</h2>
        <p>Mô tả : @Model.MoTa</p>
        <p>Địa chỉ:@Model.House, @Model.Area, @Model.State, @Model.City</p>
        <p>Liên hệ:@Model.MobileNo - @Model.EmailId</p>
        <a class="btn btn-danger" href="@Url.Action("DangNhapCH","CuaHang")">Dành Cho Cửa Hàng</a>
    </div>
</div>
<div class="row" style="clear:both;margin:5px 0 5px 0">
    <div class="col-md-3" style="padding:0 10px;padding-left:30px">
        <div class="menu">

            <div class="menu-restaurant-category">
                <div class="list-category">
                    <h4 style="width:50%;float:left">MENU</h4>

                    <div class="scrollbar-container" style="clear:both">
                        @foreach (Menu_CH item in ViewData["Menu"] as List<Menu_CH>)
                        {
                            <div class="item">
                                <span id="@item.idLoai" title="@item.mName" class="item-link">@item.mName</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="min-height:600px">

        <div style="background-color:white;border-radius:5px;padding:10px;margin:0">
            <div class="row"><input class="glyphicon-search form-control" type="search" id="search" placeholder="Tìm kiếm" /></div>
            <div class="row" id="mynamesp">
                @foreach (Menu_CH menu in ViewData["Menu"] as List<Menu_CH>)
                {
                    <div class="row menu-group" id="section-@menu.idLoai">

                        <h3 style="background-color:gainsboro;height:40px;padding-top:5px">
                            @menu.mName

                        </h3>


                        @foreach (SanPham sp in ViewData["SanPham"] as List<SanPham>)
                        {
                            if (sp.productCategory == menu.idLoai)
                            {
                                <div class="row w-100 mt-2" style="border-bottom:solid 1px #808080;padding:5px">

                                    <div class="col-md-3">
                                        <img src="@sp.productIcon" style="width:100px;height:100px; border-radius:5px;" />
                                    </div>
                                    <div class="col-md-6">
                                        <p>@sp.productTitle</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>@sp.originalPrice VND</p>

                                    </div>
                                    <a href="@Url.Action("themgiohang","Home",new { ma = sp.productId})"><img style="float:right" src="https://firebasestorage.googleapis.com/v0/b/grabfood-7b5a8.appspot.com/o/Image%2Ficons8-add-new-30.png?alt=media&token=4a686ee0-4378-4148-a600-3bdac3b5325b" /></a>

                                </div>

                            }

                        }
                    </div>
                }
            </div>

        </div>
    </div>
    <div class="col-md-3" style="padding:0 10px ;background-color:white;border-radius:5px" id="giohang">
        <h2 class="w-100" style="border-bottom:solid 1px #fff">Giỏ Hàng</h2>
        @Html.Action("giohang", "Home")
    </div>
</div>
