@using webgrabfood.Models;

@model GioHang
    @{ 
        KhachHang a = Session["kh"] as KhachHang;
    }
@if (Model != null)
{
        <div class="row">
            <table class="table ">
                <tr>
                    <td>Tên Món</td>
                    <td>Số lượng</td>
                    <td>Giá</td>
                    <td>Thành Tiền</td>
                </tr>
                @foreach (itemGioHang sp in @Model.list)
                {
                    <tr>
                        <td>@sp.sTenSP</td>
                        <td>@sp.iSoLuong</td>
                        <td>@sp.dDonGia VND</td>
                        <td>@sp.ThanhTien VND</td>
                    </tr>
                }
            </table>
        </div>
        <div class="row" style="font-size:20px ; font-weight:bold">
            <div class="col-md-6">
                <p> Tổng Tiền:</p>
            </div>
            <div class="col-md-6" style="text-align:right">
                <p>@Model.TongThanhTien() VND</p>
            </div>
        </div>
        <button class="btn btn-success form-control" data-toggle="modal" data-target="#mythanhtoan">Thanh Toán</button>
        <div class="modal" id="mythanhtoan" tabindex="-1" aria-hidden="true" role="dialog" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" style="text-align:center">Xác Nhận Đơn Hàng</h3>
                    </div>
                    <div class="modal-body" >
                        <form action="/Home/LuuDonHang" method="post">
                            <table style="display:inline;font-size:19px" class="text-left w-80">
                                <tr>
                                    <td>Họ và Tên: </td>
                                    <td>@a.FirstName @a.LastName</td>
                                </tr>
                                <tr>
                                    <td>Điện Thoại:</td>
                                    <td>@a.MobileNo</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-left">
                                        <div id="diac">
                                            <p>Địa CHỉ: @a.House, @a.Area, @a.State, @a.City</p>
                                        </div>
                                    <img id="suadiachi"  style="float:right; width:20px;height:20px" src="https://firebasestorage.googleapis.com/v0/b/grabfood-7b5a8.appspot.com/o/Image%2Ficons8-edit.gif?alt=media&token=6a66eed9-4a0b-414a-a511-e03463c7fe07" />
                                    <div id="diachi" style="display:none">
                                        <select class="form-control" id="province" name="provinceCH" style="margin-top:5px" onchange="changeFunc();">
                                            <option  selected>Tỉnh/Thành Phố</option>
                                        </select>
                                        <select class="form-control" id="district" name="districtCH" style="margin-top:5px" onchange="changeFuncDictrict();">
                                            <option  selected>Quận/Huyện</option>
                                        </select>
                                        <select class="form-control" id="ward" name="wardCH" style="margin-top:5px">
                                            <option   selected>Phường/Xã</option>
                                        </select>
                                        <input class="form-control" type="text" id="duongCH" name="duongCH" placeholder="Số nhà, Tên Đường" style="margin-top:5px" />
                                        <input class="form-control btn-success text-center" id="Luudiachi" value="Lưu" />
                                    </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ngày Đặt: </td>
                                    <td>@DateTime.Now.ToString()</td>
                                </tr>
                                <tr>
                                    <td>Ngày Giao:(dự kiến) </td>
                                    <td>@DateTime.Now.AddMinutes(20)</td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2" >
                                        <table>
                                            <tr><td colspan="4" class="text-danger text-center">Thông Tin Đơn Hàng</td> </tr>
                                            <tr>
                                                <td> Tên Món</td>
                                                <td> Số Lượng</td>
                                                <td> Đơn Giá</td>
                                                <td> Thành Tiền</td>
                                            </tr>
                                            @foreach (itemGioHang item in Model.list)
                                            {
                                                <tr>
                                                    <td> @item.sTenSP</td>
                                                    <td> @item.iSoLuong</td>
                                                    <td> @item.dDonGia </td>
                                                    <td> @item.ThanhTien</td>
                                                </tr>
                                            }
                                            <tr>
                                                <td>Tổng Số Lượng Món Đặt:</td>
                                                <td> @Model.TongSL()</td>
                                            </tr>
                                            <tr>
                                                <td>Tổng Tiền : </td>
                                                <td>@Model.TongThanhTien() VND</td>
                                            </tr>
                                        </table>
                                    </td>


                                </tr>
                            </table>
                            <input class="btn-primary form-control" type="submit" value="Đồng Ý" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
}
else
            {
                <p>Giỏ Hàng trống</p>
            }
<script src="~/Content/tinhthanhapi.js"></script>