@using webgrabfood.Models
@model List<SanPham>

<div style="background-color:white;border-radius:5px;padding:10px;margin:0">
    <div class="row"><input class="glyphicon-search form-control" type="search" id="search" placeholder="Tìm kiếm" /></div>
    <div class="row" id="mynamesp">
        @foreach (Menu_CH menu in ViewData["Menu"] as List<Menu_CH>)
        {
            <div class="row menu-group" id="section-@menu.idLoai">

                <h3 style="background-color:gainsboro;height:40px;padding-top:5px">
                    @menu.mName
                    <button data-toggle="modal" data-target="#addSanp" id="chinhsua" onclick="return open_addsp('@menu.idLoai');" style="float:right"><img src="https://firebasestorage.googleapis.com/v0/b/grabfood-7b5a8.appspot.com/o/Image%2Ficons8-add-property-30.png?alt=media&token=2034cf40-9688-4d02-955b-8c34aa318588" /></button>

                </h3>


                @foreach (SanPham sp in Model)
                {
                    if (sp.productCategory == menu.idLoai)
                    {
                        <div class="row w-100 mt-2" style="border-bottom:solid 1px #808080;padding:5px">

                            <div class="col-md-3">
                                <img src="@sp.productIcon" style="width:100px;height:100px; border-radius:5px;" />
                            </div>
                            <div class="col-md-6">
                                <p>@sp.productTitle</p>
                            </div>
                            <div class="col-md-3">
                                <p>@sp.originalPrice VND</p>
                            </div>
                            <img style="float:right; width:20px;height:20px" onclick="open_updatesp('@sp.productId')" src="https://firebasestorage.googleapis.com/v0/b/grabfood-7b5a8.appspot.com/o/Image%2Ficons8-edit.gif?alt=media&token=6a66eed9-4a0b-414a-a511-e03463c7fe07" />
                        </div>

                    }

                }
            </div>
        }
    </div>
   
</div>

<div class="modal " id="addSanp" tabindex="-1" role="dialog" aria-labelledby="mysanpham" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h3 class="modal-title" style="text-align:center">Thông tin sản phẩm</h3></div>
            <div class="modal-body">
                <form id="frmsp" name="frmsp">
                    <input type="text" id="idloai" class="form-control" name="idloai" style="display:none" />
                    <input type="text" id="idsp" class="form-control" name="idsp" style="display:none" />
                    <div class="form-group">
                        <label for="Tnp">Tên Sản Phẩm</label>
                        <input id="tensp" class="form-control" name="tensp" placeholder="Tên loại" />
                    </div>
                    <div class="form-group">
                        <label for="Tnp">Mô Tả Sản Phẩm</label>
                        <input id="productDesciptions" class="form-control" name="productDesciptions" placeholder="Tên loại" />
                    </div>
                    <div class="form-group">
                        <label for="Tnp">Định lượng</label>
                        <input id="productQuanlity" class="form-control" name="productQuanlity" placeholder="Tên loại" />
                    </div>
                    <div class="form-group">
                        <label for="Gia">Giá Bán</label>
                        <input id="Gia" class="form-control" name="Gia" type="number" placeholder="Giá Bán" />
                    </div>
                    <div class="form-group">
                        <label for="tenloai">Hình Ảnh Sản Phẩm</label><br />
                        <img id="hinh" class="img-rounded" style="width:100px;height:100px" />
                        <input id="Hinhanh" class="form-control" name="Hinhanh" type="file" accept="image/*" />
                    </div>
                    <input class="form-control btn-success" type="submit" id="themsp" value="Add" />
                    <input class="form-control btn-warning" type="submit" id="updatesp" value="Update" style="display:none" />
                    <input class="form-control btn-danger" type="submit" id="deletesp" value="Delete" onclick="return Deletesp();" style="display:none ; margin-top:5px" />
                </form>
            </div>
        </div>
    </div>

</div>